body{
  background-color: #013f62;
}
h1{
  color:  white;
}
.delete, .delete a{
  background: red;
  color: white;
}
.card-header{
  /*padding:  0;*/
  margin: 0.75rem;
}

.panel-default {
    border-color: #ddd;
}

.panel-success {
  border-color:#d6e9c6;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-success>.panel-heading {
    color:white;background-color:#782634;border-color:#882c3b;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.panel-success>.panel-heading>a{
  color: #fff;
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
  color: blue;
}